@media screen and (max-width:480px) {
    article {
	   display: block;
    }
    article img {
    	display: block;
    	width: 80%;
    }
    article p {
    	display: block;
    	width: 100%;
    	margin-top: 0;
    }
}