@charset "utf-8";
/* CSS Document */

@font-face {
	font-family:'Romeral';
	src:url('../../fonts/X2.01_-_Integration_de_site/Romeral.ttf.eot');
	src:url('../../fonts/X2.01_-_Integration_de_site/Romeral.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/X2.01_-_Integration_de_site/Romeral.ttf.svg#Romeral') format('svg'),
		url('../../fonts/X2.01_-_Integration_de_site/Romeral.ttf.woff') format('woff');
	font-weight:400;
	font-style:normal;
}

html { font-size:62.5%; }
/**
 * --------------------------------------------------
 * STYLE GENERAL
 * --------------------------------------------------
**/
*,*::before,*::after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	-ms-background-clip:padding-box;
	-o-background-clip:padding-box;
	background-clip:padding-box;
}
*:hover,*:focus,*:active { outline:none !important; }
/* --------------------------- */



/**
 * --------------------------------------------------
 * BALISES
 * --------------------------------------------------
**/
/* ------    html5    ------ */
header,hgroup,nav,aside,article,figure,figcaption,section,details,footer,address { display:block; }
address { font-style:normal; }
/* ------    générales    ------ */
html,body { margin:0;padding:0; }
body {
	background-color:rgb(255,255,255);
	cursor:default;
	font-family:Arial;
	line-height:1.2;
}
p { margin:0 0 10px 0;margin:0 0 1rem 0; }
strong { font-weight:700; }
em { font-style:italic; }
figure {
	line-height:1;
	margin:0;
	padding:0;
	position:relative;
}
	figure > img {
		height:auto !important;
		max-width:100%;
	}
a { display:inline-block; }
h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
	white-space:nowrap;
}
/* ------    header    ------ */
header[role="banner"] {
	border-top:rgb(73,23,1) 19px solid;border-top:rgb(73,23,1) 1.9rem solid;
	background:transparent url(../../images/X2.01_-_Integration_de_site/header/crenelure.png) center top repeat-x;
	margin:0 auto;
	padding:37px 0 30px 0;padding:3.7rem 0 3rem 0;
	position:relative;
}
/* ------    main    ------ */
section[role="main"] {
	clear:both;
	color:rgb(82,60,47);
	font-size:14px;font-size:1.4rem;
	line-height:20px;line-height:2rem;
	margin:0;
	padding:0 0 0 40px;padding:0 0 0 4rem;
	position:relative;
}
	[role="article"] {
		margin:0;
		padding:50px 30px;padding:5rem 3rem;
		position:relative;
	}
	[role="article"] p:not([class]) {}
	[role="article"] ul:not([class]) {
		list-style:none;
		margin:20px 0;margin:2rem 0;
		padding:0;
	}
	[role="article"] a:not([class]) {
		color:rgb(82,60,47);
		font-weight:700;
	}
/* ------    aside    ------ */
aside[role="complementary"] {
	color:rgb(123,90,71);
	font-size:13px;font-size:1.3rem;
	line-height:17px;line-height:1.7rem;
	margin:0;
	padding:50px 30px;padding:5rem 3rem;
	position:relative;
}
	aside[role="complementary"] ul:not([class]) {
		list-style:none;
		margin:0;
		padding:0;
	}
		aside[role="complementary"] ul:not([class]) li {
			margin:10px 0;margin:1rem 0;
			padding:10px 0;padding:1rem 0;
		}
	aside[role="complementary"] a:not([class]) {
		color:rgb(123,90,71);
		font-weight:700;
	}
	aside[role="complementary"] hr:not([class]) {
		border:none;
		border-top:rgba(123,90,71,.19) thin solid;
		margin:50px auto;margin:5rem auto;
	}
/* ------    footer    ------ */
footer[role="contentinfo"] {
	background-color:rgba(73,23,1,.14);
	clear:both;
	color:rgb(105,77,60);
	font-size:13px;font-size:1.3rem;
	line-height:17px;line-height:1.7rem;
	margin:0;
	padding:0;
	position:relative;
}
footer[role="contentinfo"]::before {
	background:transparent url(../../images/X2.01_-_Integration_de_site/footer/crenelure.png) center bottom repeat-x;
	content:'';
	height:6px;height:.6rem;
	left:0;
	position:absolute;
	right:0;
	top:-6px;top:-.6rem;
}
/* --------------------------- */



/**
 * --------------------------------------------------
 * CLASSES
 * --------------------------------------------------
**/
.overflow { overflow:visible !important; }
/* ------    blocs    ------ */
/* wrapper */
[data-role="wrapper"] {
	display:block;
	margin:0 auto;
	max-width:950px;max-width:95rem;
	overflow:hidden;
	padding:0;
	position:relative;
}
[data-role="wrapper"].wrapper { padding:0 20px;padding:0 2rem; }
[data-role="wrapper"].text-justify::after { /* Permet de justifier les éléments inline-block dans le nav */
	content:'';
	display:inline-block;
	font-size:0;
	height:0;
	line-height:0;
	margin:0;
	padding:0;
	width:100%;
}
/* ------    grid    ------ */
.grid-wrapper {
	font-size:0;
	letter-spacing:normal;
}
	.grid-wrapper .grid10,.grid-wrapper .grid12 {
		display:inline-block;
		margin-left:0;
		margin-right:0;
		position:relative;
		vertical-align:top;
	}
	.grid-wrapper .grid10.x1 { width:10%; }
	.grid-wrapper .grid10.x2 { width:20%; }
	.grid-wrapper .grid10.x3 { width:30%; }
	.grid-wrapper .grid10.x4 { width:40%; }
	.grid-wrapper .grid10.x5 { width:50%; }
	.grid-wrapper .grid10.x6 { width:60%; }
	.grid-wrapper .grid10.x7 { width:70%; }
	.grid-wrapper .grid10.x8 { width:80%; }
	.grid-wrapper .grid10.x9 { width:90%; }
	.grid-wrapper .grid10.x10 { width:100%; }
	
	.grid-wrapper .grid12.x1 { width:8.333333333%; }
	.grid-wrapper .grid12.x2 { width:16.666666666%; }
	.grid-wrapper .grid12.x3 { width:25%; }
	.grid-wrapper .grid12.x4 { width:33.333333333%; }
	.grid-wrapper .grid12.x5 { width:41.666666666%; }
	.grid-wrapper .grid12.x6 { width:50%; }
	.grid-wrapper .grid12.x7 { width:58.333333333%; }
	.grid-wrapper .grid12.x8 { width:66.666666666%; }
	.grid-wrapper .grid12.x9 { width:75%; }
	.grid-wrapper .grid12.x10 { width:83.333333333%; }
	.grid-wrapper .grid12.x11 { width:91.666666666%; }
	.grid-wrapper .grid12.x12 { width:100%; }
/* ------    titres    ------ */
.title-lvl1 {
	font-size:19px;font-size:1.9rem;
	line-height:26px;line-height:2.6rem;
}
h2,.title-lvl2 {}
h3,.title-lvl3 {
	font-size:14px;font-size:1.4rem;
	font-weight:700;
	line-height:20px;line-height:2rem;
	margin-bottom:15px;margin-bottom:1.5rem;
}
/* ------    alignements    ------ */
.align-left { float:left; }
.clear-left { clear:left; }
.align-right { float:right; }
.clear-right { clear:right; }
.align-clear {
	clear:both;
	float:none;
}
.img-top-left {
	float:left;
	margin:0 30px 30px 0;margin:0 3rem 3rem 0;
	padding:0;
}
.img-top-right {
	float:right;
	margin:0 0 30px 30px;margin:0 0 3rem 3rem;
	padding:0;
}
.img-bottom-right {
	float:right;
	margin:30px 0 0 30px;margin:3rem 0 0 3rem;
	padding:0;
}
.img-bottom-left {
	float:left;
	margin:30px 30px 0 0;margin:3rem 3rem 0 0;
	padding:0;
}
/* ------    textes    ------ */
.text-left { text-align:left; }
.text-right { text-align:right; }
.text-center { text-align:center; }
.text-justify { text-align:justify; }
.text-ultralight { font-weight:100; }
.text-light { font-weight:200; }
.text-book { font-weight:300; }
.text-normal { font-weight:400; }
.text-medium { font-weight:500; }
.text-semibold { font-weight:600; }
.text-bold { font-weight:700; }
.text-extrabold { font-weight:800; }
.text-ultrabold { font-weight:900; }
.text-italic { font-style:italic; }
.text-underline { text-decoration:underline; }
.text-linethrough { text-decoration:line-through; }
.text-upper { text-transform:uppercase; }
.text-lower { text-transform:lowercase; }
.text-cap { text-transform:capitalize; }

/* ------    charte des couleurs    ------ */
[data-bg="f0eedf"] { background-color:rgb(240,238,223); }
[data-bg="f0eedf"].opacity97 { background-color:rgba(240,238,223,.97); }
[data-bg="enlightment"] {
	border:rgba(188,173,162,.41) thin solid;
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,.39), rgba(255,255,255,0));
	background-image:-moz-linear-gradient(top, rgba(255,255,255,.39), rgba(255,255,255,0));
	background-image:-o-linear-gradient(top, rgba(255,255,255,.39), rgba(255,255,255,0));
	background-image:-ms-linear-gradient(top, rgba(255,255,255,.39), rgba(255,255,255,0));
	background-image:linear-gradient(to bottom, rgba(255,255,255,.39), rgba(255,255,255,0));
}
/* --------------------------- */



/**
 * --------------------------------------------------
 * IDS
 * --------------------------------------------------
**/
/* ------    logo    ------ */
#logo {
	display:inline-block;
	line-height:1;
	margin:0 0 0 30px;margin:0 0 0 3rem;
	padding:0;
	position:relative;
	vertical-align:middle;
}
	#logo [data-role="logo"] {
		display:block;
		height:auto !important;
		margin:0;
		max-width:100%;
		padding:0;
	}
/* ------    nav    ------ */
/* principal */
#nav-menu-principal {
	display:inline-block;
	position:relative;
	vertical-align:middle;
	z-index:999;
}
	#nav-menu-principal a { white-space:nowrap; }
	#menu-principal {
		border:rgb(222,213,207) thin solid;
		line-height:normal;
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		vertical-align:middle;

		/* angles */
		-webkit-border-radius:5px;-webkit-border-radius:.5rem;
		-moz-border-radius:5px;-moz-border-radius:.5rem;
		border-radius:5px;border-radius:.5rem;
		/* dégradé */
		background-color:rgb(240,239,224);
		background-image:-webkit-linear-gradient(bottom,rgba(239,221,164,.12),rgba(255,255,255,.12));
		background-image:-moz-linear-gradient(bottom,rgba(239,221,164,.12),rgba(255,255,255,.12));
		background-image:-o-linear-gradient(bottom,rgba(239,221,164,.12),rgba(255,255,255,.12));
		background-image:-ms-linear-gradient(bottom,rgba(239,221,164,.12),rgba(255,255,255,.12));
		background-image:linear-gradient(to top,rgba(239,221,164,.12),rgba(255,255,255,.12));
	}
		#menu-principal > li {
			display:inline-block;
			margin:0;
			padding:0;
			position:relative;
			vertical-align:baseline;
		}
		#menu-principal > li::before {
			bottom:0;
			content:'';
			left:0;
			position:absolute;
			top:0;
			width:1px;width:.1rem;

			/* dégradé */
			background:rgb(215,215,215);
			background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNkN2Q3ZDciIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDdkN2Q3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background:-moz-linear-gradient(top,rgba(215,215,215,0) 20%,rgba(215,215,215,1) 100%);
			background:-webkit-gradient(linear,left top,left bottom,color-stop(20%,rgba(215,215,215,0)),color-stop(100%,rgba(215,215,215,1)));
			background:-webkit-linear-gradient(top,rgba(215,215,215,0) 20%,rgba(215,215,215,1) 100%);
			background:-o-linear-gradient(top,rgba(215,215,215,0) 20%,rgba(215,215,215,1) 100%);
			background:-ms-linear-gradient(top,rgba(215,215,215,0) 20%,rgba(215,215,215,1) 100%);
			background:linear-gradient(to bottom,rgba(215,215,215,0) 20%,rgba(215,215,215,1) 100%);
			filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d7d7d7',endColorstr='#d7d7d7',GradientType=0 );
		}
		#menu-principal > li::after {
			bottom:0;
			content:'';
			left:1px;left:.1rem;
			position:absolute;
			top:0;
			width:1px;width:.1rem;

			/* dégradé */
			background:rgb(255,255,255);
			background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background:-moz-linear-gradient(top,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 100%);
			background:-webkit-gradient(linear,left top,left bottom,color-stop(20%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
			background:-webkit-linear-gradient(top,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 100%);
			background:-o-linear-gradient(top,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 100%);
			background:-ms-linear-gradient(top,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 100%);
			background:linear-gradient(to bottom,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 100%);
			filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=0 );
		}
		#menu-principal > li:first-child::before,#menu-principal > li:first-child::after { content:none; }
			#menu-principal > li a {
				color:rgb(73,23,1);
				display:block;
				font-size:13px;font-size:1.3rem;
				font-weight:700;
				margin:0;
				padding:22px 30px 17px 30px;padding:2.2rem 3rem 1.7rem 3rem;
				text-align:center;
				text-decoration:none;
				text-shadow:1px 1px 0 rgba(255,255,255,.75);text-shadow:.1rem .1rem 0 rgba(255,255,255,.75);
				vertical-align:baseline;
				
				/* transition */
				-webkit-transition-duration:.2s;
				-moz-transition-duration:.2s;
				-ms-transition-duration:.2s;
				-o-transition-duration:.2s;
				transition-duration:.2s;
				-webkit-transition-timing-function:ease-in-out;
				-moz-transition-timing-function:ease-in-out;
				-ms-transition-timing-function:ease-in-out;
				-o-transition-timing-function:ease-in-out;
				transition-timing-function:ease-in-out;
			}
			#menu-principal > li a:hover,#menu-principal > li a:focus,#menu-principal > li a:active { color:rgb(209,123,0); }
	#menu-responsive { display:none; }
/* ------    featured    ------ */
[data-role="featured"] {
	min-height:200px;min-height:20rem;
	position:relative;

	background:rgb(231,228,213);
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTRkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2RlY2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,  rgb(231,228,213) 0%, rgb(227,222,207) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(231,228,213)), color-stop(100%,rgb(227,222,207)));
	background:-webkit-linear-gradient(top,  rgb(231,228,213) 0%,rgb(227,222,207) 100%);
	background:-o-linear-gradient(top,  rgb(231,228,213) 0%,rgb(227,222,207) 100%);
	background:-ms-linear-gradient(top,  rgb(231,228,213) 0%,rgb(227,222,207) 100%);
	background:linear-gradient(to bottom,  rgb(231,228,213) 0%,rgb(227,222,207) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e4d5', endColorstr='#e3decf',GradientType=0 );
}
	[data-role="featured"] [role="article"] {
		color:rgb(123,90,71);
		font-size:14px;font-size:1.4rem;
		line-height:20px;line-height:2rem;
		padding:35px 90px 35px 120px;padding:3.5rem 9rem 3.5rem 12rem;
	}
		[data-role="featured"] [role="article"] .header { margin-bottom:28px;margin-bottom:2.8rem; }
			[data-role="featured"] [role="article"] .header .title {
				color:rgb(127,93,73);
				font-family:'Romeral';
				font-size:15px;font-size:1.5rem;
			}
			[data-role="featured"] [role="article"] p a:not([class]) {
				color:rgb(123,90,71);
				font-size:14px;font-size:1.4rem;
				font-weight:700;
				line-height:20px;line-height:2rem;
			}
		[data-role="featured"] [role="article"] .left { padding-right:230px;padding-right:23rem; }
		[data-role="featured"] [role="article"] .right {
			position:absolute;
			right:60px;right:6rem;
			top:15px;top:1.5rem;
			z-index:10;
		}
	[data-role="featured"] .nav {
		border:rgb(228.131.33) thin solid;
		color:rgb(255,255,255);
		font-family:'Trebuchet MS';
		font-size:26px;font-size:2.6rem;
		font-weight:400;
		height:39px;height:3.9rem;
		line-height:39px;line-height:3.9rem;
		margin-top:-20px;margin-top:-2rem;
		position:absolute;
		text-align:center;
		text-decoration:none;
		text-shadow:1px 1px rgba(0,0,0,.41);text-shadow:.1rem .1rem rgba(0,0,0,.41);
		top:50%;
		vertical-align:middle;
		width:39px;width:3.9rem;

		/* angles */
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		border-radius:50%;
		/* ombres */
		-webkit-box-shadow:0 2px 2px rgba(0,0,0,.25), inset 0 0 1px rgba(223,99,44,.75);-webkit-box-shadow:0 .2rem .2rem rgba(0,0,0,.25), inset 0 0 .1rem rgba(223,99,44,.75);
		-moz-box-shadow:0 2px 2px rgba(0,0,0,.25), inset 0 0 1px rgba(223,99,44,.75);-moz-box-shadow:0 .2rem .2rem rgba(0,0,0,.25), inset 0 0 .1rem rgba(223,99,44,.75);
		box-shadow:0 2px 2px rgba(0,0,0,.25), inset 0 0 1px rgba(223,99,44,.75);box-shadow:0 .2rem .2rem rgba(0,0,0,.25), inset 0 0 .1rem rgba(223,99,44,.75);
		/* background */
		background-color:rgb(241,160,45);
		background-image:-webkit-linear-gradient(top, rgb(246,192,60), rgb(236,128,30));
		background-image:-moz-linear-gradient(top, rgb(246,192,60), rgb(236,128,30));
		background-image:-o-linear-gradient(top, rgb(246,192,60), rgb(236,128,30));
		background-image:-ms-linear-gradient(top, rgb(246,192,60), rgb(236,128,30));
		background-image:linear-gradient(to bottom, rgb(246,192,60), rgb(236,128,30));
		/* transitions */
		-webkit-transition-duration:.3s;
		-moz-transition-duration:.3s;
		transition-duration:.3s;
	}
	[data-role="featured"] .nav.prev { left:60px;left:6rem; }
	[data-role="featured"] .nav.next { right:40px;right:4rem; }
/* ------    contenu    ------ */
[role="main"] [role="article"] {}
[role="main"] [role="article"]:first-child { padding-bottom:0; }
	[role="main"] [role="article"] .header { margin-bottom:25px;margin-bottom:2.5rem; }
	[role="main"] [role="article"] .blog {
		list-style:none;
		margin:0;
		padding:0;
	}
		[role="main"] [role="article"] .blog li {
			margin:10px auto;margin:1rem auto;
			min-height:112px;min-height:11.2rem;
			padding:10px 0;padding:1rem 0;
		}
			[role="main"] [role="article"] .blog .thumb-wrapper {
				background-color:rgb(240,239,224);
				background-position:center center;
				background-repeat:no-repeat;
				border:rgba(127,93,73,.36) 5px solid;border:rgba(127,93,73,.36) .5rem solid;
				height:112px;height:11.2rem;
				overflow:hidden;
				position:absolute;
				width:112px;width:11.2rem;

				-webkit-background-size:cover;
				-moz-background-size:cover;
				background-size:cover;
			}
			[role="main"] [role="article"] .blog .content { padding:0 0 0 130px;padding:0 0 0 13rem; }
.rassurance{
	margin:50px 0 0 0;margin:5rem 0 0 0;
	position:relative;
}
.rassurance::before {
	border-color:transparent transparent transparent rgb(239,237,227);
	border-style:solid;
	border-width:thin;
	border-width:20px;border-width:2rem;
	content:'';
	display:block;
	height:1px;height:.1rem;
	left:-55px;left:-5.5rem;
	margin-top:-20px;margin-top:-2rem;
	position:absolute;
	top:50%;
	width:1px;width:.1rem;
	z-index:10;
}
.rassurance::after {
	border-color:transparent transparent transparent rgb(182,180,168);
	border-style:solid;
	border-width:thin;
	border-width:15px;border-width:1.5rem;
	content:'';
	display:block;
	height:1px;height:.1rem;
	left:-52px;left:-5.2rem;
	margin-top:-15px;margin-top:-1.5rem;
	position:absolute;
	top:50%;
	width:1px;width:.1rem;
	z-index:20;
}
	.rassurance > .deco { position:relative; }
	.rassurance > .deco::before {
		border-bottom:rgb(179,175,165) thin solid;
		border-top:rgb(241,238,231) thin solid;
		bottom:0;
		content:'';
		left:-50px;left:-5rem;
		position:absolute;
		top:0;
		width:30px;width:3rem;

		background-color:rgb(227,222,207);
		background-image:-webkit-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-moz-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-o-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-ms-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
	}
	.rassurance ul {
		border-bottom:rgb(179,175,165) thin solid;
		border-top:rgb(241,238,231) thin solid;
		list-style:none;
		margin:0;
		padding:15px 0;padding:1.5rem 0;
		position:relative;

		background-color:rgb(227,222,207);
		background-image:-webkit-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-moz-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-o-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-ms-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
	}
	.rassurance ul::before {
		border-bottom:rgb(179,175,165) thin solid;
		border-top:rgb(241,238,231) thin solid;
		bottom:-1px;bottom:-.1rem;
		content:'';
		left:-30px;left:-3rem;
		position:absolute;
		top:-1px;top:-.1rem;
		width:30px;width:3rem;

		background-color:rgb(227,222,207);
		background-image:-webkit-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-moz-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-o-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-ms-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
	}
	.rassurance ul::after {
		border-bottom:rgb(179,175,165) thin solid;
		border-right:rgb(198,194,183) thin solid;
		border-top:rgb(241,238,231) thin solid;
		bottom:-1px;bottom:-.1rem;
		content:'';
		position:absolute;
		right:-30px;right:-3rem;
		top:-1px;top:-.1rem;
		width:30px;width:3rem;

		background-color:rgb(227,222,207);
		background-image:-webkit-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-moz-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-o-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:-ms-linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
		background-image:linear-gradient(135deg, rgba(255,255,255,.12), rgba(255,255,255,0));
	}
		.rassurance ul li {
			display:inline-block;
			margin:0 35px 0 0;margin:0 3.5rem 0 0;
			padding:0;
			position:relative;
		}
		.rassurance ul li:nth-child(3n) { margin-right:0 }
		.rassurance ul li::before {
			border:none;
			bottom:0;
			position:absolute;
		}
		.rassurance ul li:nth-child(1)::before {
			bottom:-5px;bottom:-.5rem;
			content:url(../../images/X2.01_-_Integration_de_site/deco/ideas.png);
			left:0;
		}
		.rassurance ul li:nth-child(2)::before {
			bottom:-5px;bottom:-.5rem;
			content:url(../../images/X2.01_-_Integration_de_site/deco/pencil.png);
			left:0;
		}
		.rassurance ul li:nth-child(3)::before {
			bottom:-5px;bottom:-.5rem;
			content:url(../../images/X2.01_-_Integration_de_site/deco/heart.png);
			left:0;
		}
			.rassurance ul li > .deco {
				background-color:rgba(238,237,224,.66);
				border:rgb(209,202,189) thin solid;
				border-left:none;
				color:rgb(82,60,47);
				display:block;
				font-size:19px;font-size:1.9rem;
				line-height:26px;line-height:2.6rem;
				padding:5px 15px;padding:.5rem 1.5rem;
				text-align:center;
			}
			.rassurance ul li:nth-child(1) > .deco {
				margin-left:15px;margin-left:1.5rem;
				padding-left:25px;padding-left:2.5rem;
			}
			.rassurance ul li:nth-child(2) > .deco {
				margin-left:23px;margin-left:2.3rem;
				padding-left:33px;padding-left:3.3rem;
			}
			.rassurance ul li:nth-child(3) > .deco {
				margin-left:22px;margin-left:2.2rem;
				padding-left:32px;padding-left:3.2rem;
			}
/* ------    aside    ------ */
		aside[role="complementary"] .time { font-style:italic; }
		aside[role="complementary"] .contact {
			background:transparent url(../../images/X2.01_-_Integration_de_site/deco/crenelure-v.png) left center repeat-y;
			display:block;
			font-size:13px;font-size:1.3rem;
			line-height:18px;line-height:1.8rem;
			margin:20px auto;margin:2rem auto;
			padding:0 0 0 25px;padding:0 0 0 2.5rem;
		}
			aside[role="complementary"] .contact li:not([class]) {
				margin:0;
				padding:0;
			}
			aside[role="complementary"] .contact a:not([class]) { color:rgb(180,68,0); }
/* ------    footer    ------ */
	footer[role="contentinfo"] [data-role="wrapper"].wrapper { padding:25px 50px;padding:2.5rem 5rem; }
		footer[role="contentinfo"] [data-role="copyright"] { display:inline-block; }
		footer[role="contentinfo"] [data-role="presta"] {
			display:inline-block;
			float:right;
		}
/* --------------------------- */