@charset "utf-8";
/* CSS Document */

/**
 * --------------------------------------------------
 * BALISES
 * --------------------------------------------------
**/
/* ------    générales    ------ */
ol > li { padding-bottom:10px;  }

/**
 * --------------------------------------------------
 * CLASSES
 * --------------------------------------------------
**/
.bloc {
    display:block;
    padding:4px 7px;
}
    .error {
        background-color:red;
        color:white;
    }
.win {
    background-color:green;
    color:white;
    text-align:center;
}
.lost {
    background-color:red;
    color:white;
    text-align:center;
}