    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-boy:before { content: "\f100"; }
.flaticon-boy-1:before { content: "\f101"; }
.flaticon-boy-2:before { content: "\f102"; }
.flaticon-boy-3:before { content: "\f103"; }
.flaticon-boy-4:before { content: "\f104"; }
.flaticon-boy-5:before { content: "\f105"; }
.flaticon-boy-6:before { content: "\f106"; }
.flaticon-boy-7:before { content: "\f107"; }
.flaticon-boy-8:before { content: "\f108"; }
.flaticon-boy-group:before { content: "\f109"; }
.flaticon-business-comunication:before { content: "\f10a"; }
.flaticon-businessman:before { content: "\f10b"; }
.flaticon-businessman-1:before { content: "\f10c"; }
.flaticon-businessman-2:before { content: "\f10d"; }
.flaticon-businessman-3:before { content: "\f10e"; }
.flaticon-businessman-4:before { content: "\f10f"; }
.flaticon-businessman-and-pie-chart:before { content: "\f110"; }
.flaticon-businessman-presentation:before { content: "\f111"; }
.flaticon-businessman-presentation-1:before { content: "\f112"; }
.flaticon-businessmen:before { content: "\f113"; }
.flaticon-businessmen-1:before { content: "\f114"; }
.flaticon-businessmen-2:before { content: "\f115"; }
.flaticon-businessmen-3:before { content: "\f116"; }
.flaticon-businessmen-4:before { content: "\f117"; }
.flaticon-businessmen-5:before { content: "\f118"; }
.flaticon-businesswoman:before { content: "\f119"; }
.flaticon-call-center-girl:before { content: "\f11a"; }
.flaticon-couple-of-girls:before { content: "\f11b"; }
.flaticon-female:before { content: "\f11c"; }
.flaticon-female-group:before { content: "\f11d"; }
.flaticon-female-group-1:before { content: "\f11e"; }
.flaticon-female-group-2:before { content: "\f11f"; }
.flaticon-female-group-3:before { content: "\f120"; }
.flaticon-female-group-4:before { content: "\f121"; }
.flaticon-female-network:before { content: "\f122"; }
.flaticon-female-user:before { content: "\f123"; }
.flaticon-femenine-group:before { content: "\f124"; }
.flaticon-girl:before { content: "\f125"; }
.flaticon-girl-1:before { content: "\f126"; }
.flaticon-girl-10:before { content: "\f127"; }
.flaticon-girl-2:before { content: "\f128"; }
.flaticon-girl-3:before { content: "\f129"; }
.flaticon-girl-4:before { content: "\f12a"; }
.flaticon-girl-5:before { content: "\f12b"; }
.flaticon-girl-6:before { content: "\f12c"; }
.flaticon-girl-7:before { content: "\f12d"; }
.flaticon-girl-8:before { content: "\f12e"; }
.flaticon-girl-9:before { content: "\f12f"; }
.flaticon-girl-polaroid-pictures:before { content: "\f130"; }
.flaticon-girl-talking:before { content: "\f131"; }
.flaticon-girl-talking-1:before { content: "\f132"; }
.flaticon-girl-thinking:before { content: "\f133"; }
.flaticon-girls-group:before { content: "\f134"; }
.flaticon-graphic:before { content: "\f135"; }
.flaticon-group:before { content: "\f136"; }
.flaticon-group-1:before { content: "\f137"; }
.flaticon-group-10:before { content: "\f138"; }
.flaticon-group-11:before { content: "\f139"; }
.flaticon-group-12:before { content: "\f13a"; }
.flaticon-group-13:before { content: "\f13b"; }
.flaticon-group-14:before { content: "\f13c"; }
.flaticon-group-15:before { content: "\f13d"; }
.flaticon-group-16:before { content: "\f13e"; }
.flaticon-group-17:before { content: "\f13f"; }
.flaticon-group-18:before { content: "\f140"; }
.flaticon-group-2:before { content: "\f141"; }
.flaticon-group-3:before { content: "\f142"; }
.flaticon-group-4:before { content: "\f143"; }
.flaticon-group-5:before { content: "\f144"; }
.flaticon-group-6:before { content: "\f145"; }
.flaticon-group-7:before { content: "\f146"; }
.flaticon-group-8:before { content: "\f147"; }
.flaticon-group-9:before { content: "\f148"; }
.flaticon-group-of-men:before { content: "\f149"; }
.flaticon-hierarchy:before { content: "\f14a"; }
.flaticon-id-card:before { content: "\f14b"; }
.flaticon-id-card-1:before { content: "\f14c"; }
.flaticon-identification:before { content: "\f14d"; }
.flaticon-line-graph-and-men:before { content: "\f14e"; }
.flaticon-loudspeaker-and-women:before { content: "\f14f"; }
.flaticon-male:before { content: "\f150"; }
.flaticon-male-user:before { content: "\f151"; }
.flaticon-male-users-group:before { content: "\f152"; }
.flaticon-male-users-scheme:before { content: "\f153"; }
.flaticon-man:before { content: "\f154"; }
.flaticon-man-1:before { content: "\f155"; }
.flaticon-man-10:before { content: "\f156"; }
.flaticon-man-11:before { content: "\f157"; }
.flaticon-man-12:before { content: "\f158"; }
.flaticon-man-13:before { content: "\f159"; }
.flaticon-man-14:before { content: "\f15a"; }
.flaticon-man-15:before { content: "\f15b"; }
.flaticon-man-16:before { content: "\f15c"; }
.flaticon-man-17:before { content: "\f15d"; }
.flaticon-man-18:before { content: "\f15e"; }
.flaticon-man-19:before { content: "\f15f"; }
.flaticon-man-2:before { content: "\f160"; }
.flaticon-man-20:before { content: "\f161"; }
.flaticon-man-21:before { content: "\f162"; }
.flaticon-man-22:before { content: "\f163"; }
.flaticon-man-23:before { content: "\f164"; }
.flaticon-man-24:before { content: "\f165"; }
.flaticon-man-25:before { content: "\f166"; }
.flaticon-man-26:before { content: "\f167"; }
.flaticon-man-27:before { content: "\f168"; }
.flaticon-man-28:before { content: "\f169"; }
.flaticon-man-29:before { content: "\f16a"; }
.flaticon-man-3:before { content: "\f16b"; }
.flaticon-man-30:before { content: "\f16c"; }
.flaticon-man-31:before { content: "\f16d"; }
.flaticon-man-32:before { content: "\f16e"; }
.flaticon-man-33:before { content: "\f16f"; }
.flaticon-man-4:before { content: "\f170"; }
.flaticon-man-5:before { content: "\f171"; }
.flaticon-man-6:before { content: "\f172"; }
.flaticon-man-7:before { content: "\f173"; }
.flaticon-man-8:before { content: "\f174"; }
.flaticon-man-9:before { content: "\f175"; }
.flaticon-man-polaroid-pictures:before { content: "\f176"; }
.flaticon-man-polaroid-pictures-1:before { content: "\f177"; }
.flaticon-man-talking:before { content: "\f178"; }
.flaticon-man-thinking:before { content: "\f179"; }
.flaticon-men:before { content: "\f17a"; }
.flaticon-men-1:before { content: "\f17b"; }
.flaticon-men-2:before { content: "\f17c"; }
.flaticon-men-3:before { content: "\f17d"; }
.flaticon-networking:before { content: "\f17e"; }
.flaticon-networking-1:before { content: "\f17f"; }
.flaticon-networking-2:before { content: "\f180"; }
.flaticon-notebook:before { content: "\f181"; }
.flaticon-placeholder:before { content: "\f182"; }
.flaticon-placeholder-1:before { content: "\f183"; }
.flaticon-scheme:before { content: "\f184"; }
.flaticon-screen:before { content: "\f185"; }
.flaticon-screen-1:before { content: "\f186"; }
.flaticon-screen-2:before { content: "\f187"; }
.flaticon-search-user:before { content: "\f188"; }
.flaticon-searching-user:before { content: "\f189"; }
.flaticon-searching-user-1:before { content: "\f18a"; }
.flaticon-social-connections:before { content: "\f18b"; }
.flaticon-social-network:before { content: "\f18c"; }
.flaticon-tablet:before { content: "\f18d"; }
.flaticon-tablet-1:before { content: "\f18e"; }
.flaticon-tablet-with-graph:before { content: "\f18f"; }
.flaticon-telemarketer:before { content: "\f190"; }
.flaticon-telemarketer-1:before { content: "\f191"; }
.flaticon-television:before { content: "\f192"; }
.flaticon-television-1:before { content: "\f193"; }
.flaticon-user:before { content: "\f194"; }
.flaticon-user-1:before { content: "\f195"; }
.flaticon-user-2:before { content: "\f196"; }
.flaticon-user-3:before { content: "\f197"; }
.flaticon-user-4:before { content: "\f198"; }
.flaticon-user-placeholder:before { content: "\f199"; }
.flaticon-user-woman-polaroid-pictures:before { content: "\f19a"; }
.flaticon-users:before { content: "\f19b"; }
.flaticon-users-graphic:before { content: "\f19c"; }
.flaticon-woman:before { content: "\f19d"; }
.flaticon-woman-1:before { content: "\f19e"; }
.flaticon-woman-10:before { content: "\f19f"; }
.flaticon-woman-11:before { content: "\f1a0"; }
.flaticon-woman-12:before { content: "\f1a1"; }
.flaticon-woman-13:before { content: "\f1a2"; }
.flaticon-woman-14:before { content: "\f1a3"; }
.flaticon-woman-15:before { content: "\f1a4"; }
.flaticon-woman-16:before { content: "\f1a5"; }
.flaticon-woman-17:before { content: "\f1a6"; }
.flaticon-woman-18:before { content: "\f1a7"; }
.flaticon-woman-19:before { content: "\f1a8"; }
.flaticon-woman-2:before { content: "\f1a9"; }
.flaticon-woman-20:before { content: "\f1aa"; }
.flaticon-woman-21:before { content: "\f1ab"; }
.flaticon-woman-22:before { content: "\f1ac"; }
.flaticon-woman-23:before { content: "\f1ad"; }
.flaticon-woman-24:before { content: "\f1ae"; }
.flaticon-woman-25:before { content: "\f1af"; }
.flaticon-woman-26:before { content: "\f1b0"; }
.flaticon-woman-27:before { content: "\f1b1"; }
.flaticon-woman-28:before { content: "\f1b2"; }
.flaticon-woman-29:before { content: "\f1b3"; }
.flaticon-woman-3:before { content: "\f1b4"; }
.flaticon-woman-30:before { content: "\f1b5"; }
.flaticon-woman-4:before { content: "\f1b6"; }
.flaticon-woman-5:before { content: "\f1b7"; }
.flaticon-woman-6:before { content: "\f1b8"; }
.flaticon-woman-7:before { content: "\f1b9"; }
.flaticon-woman-8:before { content: "\f1ba"; }
.flaticon-woman-9:before { content: "\f1bb"; }
.flaticon-woman-and-man:before { content: "\f1bc"; }
.flaticon-woman-close-up:before { content: "\f1bd"; }
.flaticon-woman-with-graphic:before { content: "\f1be"; }
.flaticon-woman-with-minus:before { content: "\f1bf"; }
.flaticon-womem-talking:before { content: "\f1c0"; }
.flaticon-women:before { content: "\f1c1"; }
.flaticon-women-1:before { content: "\f1c2"; }
.flaticon-women-2:before { content: "\f1c3"; }
.flaticon-women-3:before { content: "\f1c4"; }
.flaticon-women-connections:before { content: "\f1c5"; }
.flaticon-work-hierarchy:before { content: "\f1c6"; }
.flaticon-young-businessman:before { content: "\f1c7"; }
    
    $font-Flaticon-boy: "\f100";
    $font-Flaticon-boy-1: "\f101";
    $font-Flaticon-boy-2: "\f102";
    $font-Flaticon-boy-3: "\f103";
    $font-Flaticon-boy-4: "\f104";
    $font-Flaticon-boy-5: "\f105";
    $font-Flaticon-boy-6: "\f106";
    $font-Flaticon-boy-7: "\f107";
    $font-Flaticon-boy-8: "\f108";
    $font-Flaticon-boy-group: "\f109";
    $font-Flaticon-business-comunication: "\f10a";
    $font-Flaticon-businessman: "\f10b";
    $font-Flaticon-businessman-1: "\f10c";
    $font-Flaticon-businessman-2: "\f10d";
    $font-Flaticon-businessman-3: "\f10e";
    $font-Flaticon-businessman-4: "\f10f";
    $font-Flaticon-businessman-and-pie-chart: "\f110";
    $font-Flaticon-businessman-presentation: "\f111";
    $font-Flaticon-businessman-presentation-1: "\f112";
    $font-Flaticon-businessmen: "\f113";
    $font-Flaticon-businessmen-1: "\f114";
    $font-Flaticon-businessmen-2: "\f115";
    $font-Flaticon-businessmen-3: "\f116";
    $font-Flaticon-businessmen-4: "\f117";
    $font-Flaticon-businessmen-5: "\f118";
    $font-Flaticon-businesswoman: "\f119";
    $font-Flaticon-call-center-girl: "\f11a";
    $font-Flaticon-couple-of-girls: "\f11b";
    $font-Flaticon-female: "\f11c";
    $font-Flaticon-female-group: "\f11d";
    $font-Flaticon-female-group-1: "\f11e";
    $font-Flaticon-female-group-2: "\f11f";
    $font-Flaticon-female-group-3: "\f120";
    $font-Flaticon-female-group-4: "\f121";
    $font-Flaticon-female-network: "\f122";
    $font-Flaticon-female-user: "\f123";
    $font-Flaticon-femenine-group: "\f124";
    $font-Flaticon-girl: "\f125";
    $font-Flaticon-girl-1: "\f126";
    $font-Flaticon-girl-10: "\f127";
    $font-Flaticon-girl-2: "\f128";
    $font-Flaticon-girl-3: "\f129";
    $font-Flaticon-girl-4: "\f12a";
    $font-Flaticon-girl-5: "\f12b";
    $font-Flaticon-girl-6: "\f12c";
    $font-Flaticon-girl-7: "\f12d";
    $font-Flaticon-girl-8: "\f12e";
    $font-Flaticon-girl-9: "\f12f";
    $font-Flaticon-girl-polaroid-pictures: "\f130";
    $font-Flaticon-girl-talking: "\f131";
    $font-Flaticon-girl-talking-1: "\f132";
    $font-Flaticon-girl-thinking: "\f133";
    $font-Flaticon-girls-group: "\f134";
    $font-Flaticon-graphic: "\f135";
    $font-Flaticon-group: "\f136";
    $font-Flaticon-group-1: "\f137";
    $font-Flaticon-group-10: "\f138";
    $font-Flaticon-group-11: "\f139";
    $font-Flaticon-group-12: "\f13a";
    $font-Flaticon-group-13: "\f13b";
    $font-Flaticon-group-14: "\f13c";
    $font-Flaticon-group-15: "\f13d";
    $font-Flaticon-group-16: "\f13e";
    $font-Flaticon-group-17: "\f13f";
    $font-Flaticon-group-18: "\f140";
    $font-Flaticon-group-2: "\f141";
    $font-Flaticon-group-3: "\f142";
    $font-Flaticon-group-4: "\f143";
    $font-Flaticon-group-5: "\f144";
    $font-Flaticon-group-6: "\f145";
    $font-Flaticon-group-7: "\f146";
    $font-Flaticon-group-8: "\f147";
    $font-Flaticon-group-9: "\f148";
    $font-Flaticon-group-of-men: "\f149";
    $font-Flaticon-hierarchy: "\f14a";
    $font-Flaticon-id-card: "\f14b";
    $font-Flaticon-id-card-1: "\f14c";
    $font-Flaticon-identification: "\f14d";
    $font-Flaticon-line-graph-and-men: "\f14e";
    $font-Flaticon-loudspeaker-and-women: "\f14f";
    $font-Flaticon-male: "\f150";
    $font-Flaticon-male-user: "\f151";
    $font-Flaticon-male-users-group: "\f152";
    $font-Flaticon-male-users-scheme: "\f153";
    $font-Flaticon-man: "\f154";
    $font-Flaticon-man-1: "\f155";
    $font-Flaticon-man-10: "\f156";
    $font-Flaticon-man-11: "\f157";
    $font-Flaticon-man-12: "\f158";
    $font-Flaticon-man-13: "\f159";
    $font-Flaticon-man-14: "\f15a";
    $font-Flaticon-man-15: "\f15b";
    $font-Flaticon-man-16: "\f15c";
    $font-Flaticon-man-17: "\f15d";
    $font-Flaticon-man-18: "\f15e";
    $font-Flaticon-man-19: "\f15f";
    $font-Flaticon-man-2: "\f160";
    $font-Flaticon-man-20: "\f161";
    $font-Flaticon-man-21: "\f162";
    $font-Flaticon-man-22: "\f163";
    $font-Flaticon-man-23: "\f164";
    $font-Flaticon-man-24: "\f165";
    $font-Flaticon-man-25: "\f166";
    $font-Flaticon-man-26: "\f167";
    $font-Flaticon-man-27: "\f168";
    $font-Flaticon-man-28: "\f169";
    $font-Flaticon-man-29: "\f16a";
    $font-Flaticon-man-3: "\f16b";
    $font-Flaticon-man-30: "\f16c";
    $font-Flaticon-man-31: "\f16d";
    $font-Flaticon-man-32: "\f16e";
    $font-Flaticon-man-33: "\f16f";
    $font-Flaticon-man-4: "\f170";
    $font-Flaticon-man-5: "\f171";
    $font-Flaticon-man-6: "\f172";
    $font-Flaticon-man-7: "\f173";
    $font-Flaticon-man-8: "\f174";
    $font-Flaticon-man-9: "\f175";
    $font-Flaticon-man-polaroid-pictures: "\f176";
    $font-Flaticon-man-polaroid-pictures-1: "\f177";
    $font-Flaticon-man-talking: "\f178";
    $font-Flaticon-man-thinking: "\f179";
    $font-Flaticon-men: "\f17a";
    $font-Flaticon-men-1: "\f17b";
    $font-Flaticon-men-2: "\f17c";
    $font-Flaticon-men-3: "\f17d";
    $font-Flaticon-networking: "\f17e";
    $font-Flaticon-networking-1: "\f17f";
    $font-Flaticon-networking-2: "\f180";
    $font-Flaticon-notebook: "\f181";
    $font-Flaticon-placeholder: "\f182";
    $font-Flaticon-placeholder-1: "\f183";
    $font-Flaticon-scheme: "\f184";
    $font-Flaticon-screen: "\f185";
    $font-Flaticon-screen-1: "\f186";
    $font-Flaticon-screen-2: "\f187";
    $font-Flaticon-search-user: "\f188";
    $font-Flaticon-searching-user: "\f189";
    $font-Flaticon-searching-user-1: "\f18a";
    $font-Flaticon-social-connections: "\f18b";
    $font-Flaticon-social-network: "\f18c";
    $font-Flaticon-tablet: "\f18d";
    $font-Flaticon-tablet-1: "\f18e";
    $font-Flaticon-tablet-with-graph: "\f18f";
    $font-Flaticon-telemarketer: "\f190";
    $font-Flaticon-telemarketer-1: "\f191";
    $font-Flaticon-television: "\f192";
    $font-Flaticon-television-1: "\f193";
    $font-Flaticon-user: "\f194";
    $font-Flaticon-user-1: "\f195";
    $font-Flaticon-user-2: "\f196";
    $font-Flaticon-user-3: "\f197";
    $font-Flaticon-user-4: "\f198";
    $font-Flaticon-user-placeholder: "\f199";
    $font-Flaticon-user-woman-polaroid-pictures: "\f19a";
    $font-Flaticon-users: "\f19b";
    $font-Flaticon-users-graphic: "\f19c";
    $font-Flaticon-woman: "\f19d";
    $font-Flaticon-woman-1: "\f19e";
    $font-Flaticon-woman-10: "\f19f";
    $font-Flaticon-woman-11: "\f1a0";
    $font-Flaticon-woman-12: "\f1a1";
    $font-Flaticon-woman-13: "\f1a2";
    $font-Flaticon-woman-14: "\f1a3";
    $font-Flaticon-woman-15: "\f1a4";
    $font-Flaticon-woman-16: "\f1a5";
    $font-Flaticon-woman-17: "\f1a6";
    $font-Flaticon-woman-18: "\f1a7";
    $font-Flaticon-woman-19: "\f1a8";
    $font-Flaticon-woman-2: "\f1a9";
    $font-Flaticon-woman-20: "\f1aa";
    $font-Flaticon-woman-21: "\f1ab";
    $font-Flaticon-woman-22: "\f1ac";
    $font-Flaticon-woman-23: "\f1ad";
    $font-Flaticon-woman-24: "\f1ae";
    $font-Flaticon-woman-25: "\f1af";
    $font-Flaticon-woman-26: "\f1b0";
    $font-Flaticon-woman-27: "\f1b1";
    $font-Flaticon-woman-28: "\f1b2";
    $font-Flaticon-woman-29: "\f1b3";
    $font-Flaticon-woman-3: "\f1b4";
    $font-Flaticon-woman-30: "\f1b5";
    $font-Flaticon-woman-4: "\f1b6";
    $font-Flaticon-woman-5: "\f1b7";
    $font-Flaticon-woman-6: "\f1b8";
    $font-Flaticon-woman-7: "\f1b9";
    $font-Flaticon-woman-8: "\f1ba";
    $font-Flaticon-woman-9: "\f1bb";
    $font-Flaticon-woman-and-man: "\f1bc";
    $font-Flaticon-woman-close-up: "\f1bd";
    $font-Flaticon-woman-with-graphic: "\f1be";
    $font-Flaticon-woman-with-minus: "\f1bf";
    $font-Flaticon-womem-talking: "\f1c0";
    $font-Flaticon-women: "\f1c1";
    $font-Flaticon-women-1: "\f1c2";
    $font-Flaticon-women-2: "\f1c3";
    $font-Flaticon-women-3: "\f1c4";
    $font-Flaticon-women-connections: "\f1c5";
    $font-Flaticon-work-hierarchy: "\f1c6";
    $font-Flaticon-young-businessman: "\f1c7";